* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  li {
    list-style: none;
  }
  img {
    vertical-align: middle;
  }
  /* ---------------------- */
  
  header {
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: #dbdada; */
  }
  
  .header_in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1500px;
    margin: 0 auto;
  }
  
  .head-logo img {
    width: 90px;
  }
  
  .header-link {
    display: flex;
  }
  
  .header-link > ul {
    display: flex;
  }
  
  .header-link > ul > li {
    padding-right: 10px;
    border-right: 1.4px solid;
    height: 17px;
    line-height: 18px;
    margin-left: 10px;
  }
  .header-link > ul > li:nth-child(4) {
    border-right: 0;
  }
  
  .header-magnifier img {
    position: relative;
    right: 1300%;
    top: 40px;
  }
  
  .header-X {
    display: none;
    position: absolute;
    right: 14.2%;
    top: 40px;
  }
  .input-box {
    display: none;
    width: 750px;
    height: -30px;
    margin-right: 300px;
    border-bottom: 1px solid;
  }
  .input-box input {
    width: 750px;
    height: 50px;
    padding: 10px;
    border: 0;
  }
  
  /* ----------dropdown--------- */
  .dropdown {
    /* width: 100%; */
  }
  
  .drop {
    display: flex;
    width: 1250px;    /* 이거 바꾸면 header 맞춰짐 */
    height: 50px;
    margin-right: 300px;
    margin-top: 45px;
    overflow: hidden;
    /* transition: .4s; */
    border-radius: 0 0 10px 10px;
  }
  .drop:hover {
    height: 600px;
  }
  .drop > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-weight: bold;
  }
  .drop > ul > li > a:hover {
    color: rgb(68, 68, 248);
    border-bottom: 2px solid #487ff7;
  }
  .drop > ul > li > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    transition: 0.2s;
  }
  .drop > ul {
    z-index: 100;
  }
  .drop > ul > li > ul > li > a:hover {
    color: rgb(61, 86, 228);
  }
  .drop > ul > li:hover > a {
    color: rgb(88, 88, 224);
    border-bottom: 2px solid #487ff7;
  }
  .bkcolor {
    height: 550px;
    background-color: rgb(253, 255, 254);
  }
  .bkcolor li a {
    font-size: 15px;
  }
  /* ------------section--------------- */
  .section-body {
    background-image: url(../images/2sa320.png);
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 94vw;
    height: 70%;
  }
  
  .section-notice {
    width: 500px;
    height: 570px;
    /* border: 2px solid #487ff7; */
    box-shadow: #8ed2fab6 40px 0px 80px 0px;
    border-radius: 10px;
  }
  
  .tab {
    position: absolute;
    top: 55%;
    left: 14.5%;
    display: flex;
    font-weight: bold;
    font-size: 16px;
  }
  .notice {
    color: #487ff7;
  }
  .tab li + li::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #4281f7a6;
    margin: -5px 15px 0;
    vertical-align: middle;
  }
  
  .section-notice > .none {
    display: none;
    position: relative;
    top: 70%;
    left: 10%;
    width: 400px;
  }
  .notice-text {
    position: relative;
    top: 70%;
    left: 10%;
    width: 400px;
    height: 120px;
  }
  .text-hidden {
    width: 250px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .text-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }
  
  /* --------slide-------- */
  .slide {
    overflow: hidden;
    width: 965px;
    height: 570px;
  }
  .slide > ul {
    display: flex;
    animation: sdhslide infinite 20s;
  }
  .slide img {
    width: 965px;
    height: 570px;
  }
  
  @keyframes sdhslide {
    0% {
      transform: translateX(0%);
    }
    13% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(-100%);
    }
    33% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    53% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    73% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    93% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
  /* ---------nav---------- */
  .nav-icon {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    height: 100%;
    /* background-color: #487ff7; */
    border-radius: 15px;
  }
  
  .icon-Mbox {
    position: relative;
    /* margin-top: 90px; */
    width: 90%;
    height: 160px;
    line-height: 160px;
    background-color: #2986f1b7;
    background: linear-gradient(#4ca2f8, #487ff7, #5568fa);
    border-radius: 15px;
  }
  
  .icon-box {
    position: absolute;
    align-items: center;
    margin: 25px auto;
    margin-left: 7%;
    width: 85%;
    height: 120px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: inset #9ab4eb 0px 0px 15px 7px;
  }
  .icon-box > ul {
    display: flex;
    justify-content: space-evenly;
  }
  .icon-box p {
    line-height: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  .icon-box img {
    width: 75px;
    height: 70px;
  }
  /* --------gallery---------- */
  
  .nav-flex{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 8% auto;
    width: 83%;
    height: 700px;
  }
  .gallery{
    width: 44%;
    height: 80%;
    border-radius: 20px;
    box-shadow: -4px -4px 10px rgba(1, 148, 247, 0.582), 4px 4px 10px rgba(0, 255, 170, 0.486);
  }
  .gallery img {
    cursor: pointer;
    margin-left: 2%;
  }
  .g-img1 img {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 300px;
    height: 200px;
  }
  .g-img2 img {
    position: absolute;
    top: 20px;
    left: 400px;
    width: 210px;
    height: 290px;
  }
  .g-img3 img {
    position: absolute;
    top: 270px;
    left: 50px;
    width: 220px;
    height: 250px;
  }
  .g-img4 img {
    position: absolute;
    top: 340px;
    left: 300px;
    width: 400px;
    height: 200px;
  }
  
  /* ----banner----- */
  .content {
    /* display: flex; */
    width: 45%;
    height: 60%;
    float: right;
    /* background-color: #5568fa; */
  }
  
  .content > ul {
    display: flex;
    justify-content: space-around;
  }
  .s_meal {
    margin: 5% auto;
    width: 310px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.267);
  }
  .rmqtlr {
    margin-top: 10px;
    text-align: center;
  }
  .rmqtlr h4 {
    padding: 15px;
  }